{% extends 'portfolio/base.html' %} {% block content %}

<div class="container">
    <h1 class="text-center">Blog</h1>
    <h3 class="text-center">Davron has written {{blogs.count}} blog{{blogs.count|pluralize}}</h3>


    {% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}">
        <h2>{{blog.title}}</h2>
    </a>
    <h5 class="font-weight-light">{{blog.date|date:'M d Y'|upper}}</h5>
    <p class="font-weight-bold">{{blog.description|striptags|truncatechars:100}}</p>
    <br> {% endfor %}
</div>

{% endblock %}